<ul class="navbar-nav d-flex flex-row">
    <li class="nav-item">
      <nav class="navbar bg-body-tertiary">
        <form class="container-fluid justify-content-start">
          <button class="btn btn-outline-success me-2 rounded-circle btn-lg" style="size:40px; background-color: #25ab75; color: aliceblue; border: 1px solid black;" type="button">Login</button>
        </form>
      </nav>
    </li>
    <li class="nav-item">
      <nav class="navbar bg-body-tertiary">
        <form class="container-fluid justify-content-start">
          <button class="btn btn-outline-success me-2 rounded-circle btn-lg" style="size:40px; background-color: #25ab75; color: aliceblue; border: 1px solid black;" type="button">SignIn</button>
        </form>
      </nav>
    </li>
  </ul>
  