<app-nav></app-nav>
<app-buttons></app-buttons>
<h1>View Tasks</h1>
<div></div>
<div class="box">
    <h3>Employee ID:</h3>
<ul>
    <li>Kevin</li>
    <li>Tessy</li>
    <li>Glory</li>
  </ul>
</div>
<table class="table table-secondary">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Tasks No</th>
        <th scope="col">Tasks</th>
        <th scope="col">Deadline</th>
        <th scope="col">Status</th>
        <th scope="col">Comments</th>
      </tr>
    </thead>
    <button routerLink="/status">submit</button>


