@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Regular.ttf') format('truetype'); /* Adjust the file path as needed */
    font-weight: normal;
    font-style: normal;
  }
  @font-face 
  {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Bold.ttf') format('truetype'); /* Adjust the file path as needed */
    font-weight: bold;
    font-style: normal;
  }